<h1>Holis, soy app/views/tasks/show.html.erb</h1>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @task.cost %>
</p>

<p>
  <strong>Artifact:</strong>
  <%= "#{@task.artifact.name} #{@task.artifact.model}" %>
</p>