<h1>Holis, soy app/views/revisions/edit.html.erb</h1>

<h1>Editing Revision</h1>

<%= render 'form', revision: @revision %>

<%= link_to 'Show', @revision %> |
<%= link_to 'Back', repair_revisions_path(@revision.repair) %>
