<div class="pt-3">
  <a class="btn card text-center" href="<%= new_customer_path %>">
    <div class="card-body">
      <i class='fas fas_color fa-user-plus fa-5x'></i>
      <h2 class="mt-2"><%= (t 'dashboard_cliente.text_button') %></h2>
    </div>
  </a>
</div>

<div class=" pt-3">
  <a class="btn card text-center" href="<%= customers_path %>">
    <div class="card-body">
      <i class='fas fas_color fa-users fa-5x'></i>
      <h2 class="mt-2"><%= (t 'dashboard_cliente.text_button2') %></h2>
    </div>
  </a>
</div>