<div class="container pt-3">
	<h2 class="text-center"> <%= t 'dashboard_reparacion.title1' %> </h2>
  <div class="container col-10 pt-4">
  	<div class="form-group">
        <button class="form-control dashboard" type="button">
        <i class='fas fas_color fa-wrench fa-lg'> </i>
          <%= link_to (t 'dashboard_reparacion.text_button'), new_repair_path %>
        </button>
    </div>
  </div>
  <hr>
	<h4 class="text-center pt-4"> <%= t 'dashboard_reparacion.title2' %> </h4>
    <%= render 'home/repair_query_form' %>
  </div>