<div class="container col-10 pt-5">
  <form action="<%= query_repairs_path %>">
    <div class="form-group">
      <input class="form-control" type="text" name="code" id="code" placeholder="<%= t 'repair_query_form.input_field' %>" required>
    </div>

    <div class="text-center mt-5">
      <button type="submit" class="btn btn-info">
        <i class="fas fa-search"></i> <%= t 'repair_query_form.submit' %>
      </button>
    </div>
  </form>
</div>