<div class="row">
  <div class="mr-3 ml-3 mb-5 mt-5 pt-4 pb-5">
    <%= render 'home/dashboard_reparacion' %>
  </div>

  <div class="mr-3 ml-3 mb-5 mt-5 pt-4 pb-5">
    <%= render 'home/dashboard_cliente' %>
  </div>
</div>