<div class="row mt-5 ml-5">
  <div class="col-md-5 ml-2 mt-5">
    <%= render 'home/dashboard_reparacion' %>
  </div>

  <div class="col-md-5 ml-2 mt-5">
    <%= render 'home/dashboard_cliente' %>
  </div>
</div>

<!-- mr-3 ml-3 mb-5 mt-5 pt-4 pb-5 -->