<div class="row">
  <div class="col border mr-3 ml-3 mb-5 mt-5 pt-4 pb-5">
    <h2 class="text-center pb-3"> <%= t 'repair_query_form.title' %> </h2>
    <h4 class="text-center mt-3"> <%= t 'repair_query_form.subtitle' %> </h4>

    <%= render 'home/repair_query_form' %>
  </div>

  <div class="col border mr-3 ml-3 mb-5 mt-5 pt-4 pb-5">
    <%= render 'home/login_form' %>
  </div>
</div>