<div class="row">
  <div class="col border mr-3 ml-3 mb-5 mt-5 pt-4 pb-5">
    <%= render 'home/repair_query_form' %>
  </div>

  <div class="col border mr-3 ml-3 mb-5 mt-5 pt-4 pb-5">
    <%= render 'home/login_form' %>
  </div>
</div>