<h2 class="text-center mt-5"> <%= t 'repairs.show.title_2', artifact: @repair.artifact.name %> </h2>
<h1 class="text-center font-weight-bold mt-5" style="color: grey;"> <%= @repair.code %> </h1>
  <div class="text-center mt-5 mb-3">
    <a class="btn btn-outline-dark" href="<%= root_path %>">
      <span> <%= (t 'repairs.show.exit') %> </span>
    </a>
</div>