<p>
  <strong>Customer:</strong>
  <%= @repair.customer %>
</p>

<p>
  <strong>Artifact:</strong>
  <%= @repair.artifact %>
</p>

<p>
  <strong>Estimated days:</strong>
  <%= @repair.estimated_days %>
</p>

<%= link_to 'Back', customers_path %>
